.nav {
    position: fixed;
    color: white;
    top: 0vw;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(27, 87, 53), rgba(255, 255, 255, 0.0));
    background-image: absolute;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    list-style: none;
    display: flex;
    gap: 5rem;
}


.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
    margin-right: 15px;
}

.nav li:active {
    background-color: black;
}

.nav li:hover {
    background-image: linear-gradient(to bottom, rgb(208, 157, 105), rgba(27, 87, 53, 0.3));
}